/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#stack-pane{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 450.0 600.0;
    -fx-background-position: center center;
    
    }
.my-button-style {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14.0pt;
    -fx-padding: 10.0px 20.0px;
    -fx-border-radius: 5.0px;
}
